# Galaxy Selection
# Time selection
1                  # 1 for redshift range, 0 for single snapshot
1.05                # Upper redshift limit
1.01                # Lower redshift limit

# Mass selection
1                  # Select by galaxy mass?
1                  # 1 for halo mass, 2 for stellar mass
10                 # Lower mass limit (log)
12                 # Upper mass limit (log)

# Star formation rate selection
1                  # Select by star formation rate?
1                  # 1 for sSFR, 2 for SFR
-12                # Lower star formation rate limit
-9                # Upper star formation rate limit

# LOS selection
0.                 # Lower azimuthal angle limit
90.                # Upper azimuthal angle limit
0.                 # Lower impact parameter limit [pkpc]
200.               # Upper impact parameter limit [pkpc]
0.                 # Lower inclination angle limit
90.                # Upper inclination angle limit

# TPCF settings
10                 # Velocity bin size
100                # Number of bootstraps to perform

# Ions
MgII
CIV
OVI
